*.TMP
*.dxvk-cache
*.log
.DS_Store
.debug
.gdb_history
.git
.svn
.vscode
tags


testdata

.build/*
!.build/projects/

.build/projects/*
!.build/projects/trybgfx_mvp

.build/projects/trybgfx_mvp/*
!.build/projects/trybgfx_mvp/*.cpp
!.build/projects/trybgfx_mvp/*.h
